#train_map {
	position: absolute;
	top: 32px;
	right: 128px;
	background-color: grey;
}

#map_toolbar {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 768px;
	background-color: #ffddaa;
}