#train_map {
	position: absolute;
	top: 32px;
	left: 128px;
	background-color: grey;
}

#map_toolbar {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 128px;
	background-color: #ffddaa;
}