@font-face{
	font-family: 'LCD';
	src: url("osd.ttf") format('truetype');
	font-style: normal;
	font-weight: 300;
}

body {
	background-color: white;
	cursor: url(core/arrow.cur), default;
}

* {
	font-family: "LCD", "Courier New", "Helvetica";
	cursor: url(core/arrow.cur), default;
	image-rendering: pixelated;
	overscroll-behavior: none;
}

a {
	cursor: url(core/link.cur), pointer;
}

.helppoint {
	cursor: url(core/help.cur), help;
}

.nopepoint {
	cursor: url(core/no.cur), not-allowed;
}

.linkpoint {
	cursor: url(core/link.cur), pointer;
}

#pageglobal_headbar {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 20px;
	background-color: black;
	z-index: 8;
}

#pageglobal_contentframe {
	position: fixed;
	top: 20px;
	left: 0px;
	width: 100%;
	bottom: 0px;
	overflow: scroll;
}

#pageglobal_content {
	position: absolute;
	top: 0px;
	left: 32px;
	right: 32px;
}

.menubox {
	z-index: 16;
}

@keyframes buttonFlashAnim {
	0% {
		color: #000;
		background-color: #66F;
	}
	49% {
		color: #000;
		background-color: #66F;
	}
	50% {
		color: #000;
		background-color: #FFF;
	}
	100% {
		color: #000;
		background-color: #FFF;
	}
}

.menuopenbutton {
	text-align: left;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 20px;

	background-color: white;
	border: none;
	border-radius: 0px;
}

.menuopenbuttonlight {
	text-align: left;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 20px;

	background-color: #66F;
	border: none;
	border-radius: 0px;
}

.menubutton {
	text-align: left;
	position: absolute;
	left: 0px;
	width: 100%;
	height: 20px;

	background-color: white;
	border: none;
	border-radius: 0px;
}

.menubuttonlight {
	text-align: left;
	position: absolute;
	left: 0px;
	width: 100%;
	height: 20px;

	background-color: #66F;
	border: none;
	border-radius: 0px;
}

.menubuttonselect {
	text-align: left;
	position: absolute;
	left: 0px;
	width: 100%;
	height: 20px;

	background-color: #66F;
	border: none;
	border-radius: 0px;

	animation-name: buttonFlashAnim;
	animation-duration: 100ms;
	animation-iteration-count: infinite;
}

#pageglobal_errorbg {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 512;

	background-color: transparent;
}

#pageglobal_errorwidth {
	position: relative;
	left: 0px;
	top: 0px;
	width: 402px;
	margin: auto;
	height: 50%;

	background-color: transparent;
}

#pageglobal_errorbox {
	position: absolute;
	left: 0px;
	bottom: -101px;
	width: 100%;
	height: 200px;

	background-color: #DDD;
	border: 1px solid black;
}

#pageglobal_errorimg {
	position: absolute;
	left: 16px;
	top: 16px;
	width: 48px;
	height: 48px;
}

#pageglobal_errortxt {
	position: absolute;
	left: 64px;
	top: 0px;
	right: 16px;
	background-color: grey;
	bottom: 64px;
}

#pageglobal_errorbutton1 {
	position: absolute;
	right: 16px;
	bottom: 16px;
	width: 100px;
	height: 30px;
	background-color: grey;
	border: 1px solid black;
	border-radius: 4px;
}

#pageglobal_errorbutton1txt {
	position: absolute;
	right: 16px;
	bottom: 16px;
	width: 100px;
	height: 30px;
	background-color: grey;
	border: 1px solid black;
	border-radius: 4px;
}