@keyframes buttonFlashAnim {
	0% {
		color: #FFFFFF;
		background-color: #AAAAFF;
	}
	49% {
		color: #FFFFFF;
		background-color: #AAAAFF;
	}
	50% {
		color: #000000;
		background-color: #FFFFFF;
	}
	99% {
		color: #000000;
		background-color: #FFFFFF;
	}
	100% {
		color: #FFFFFF;
		background-color: #AAAAFF;
	}
}


#page_bind {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: black;
}
#vert_bind {
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	height: 50%;
	background-color: transparent;
}
#horiz_bind {
	position: relative;
	top: -240px;
	left: 0px;
	margin: auto;
	width: 640px;
	height: 480px;
	background-color: #000;
	border-radius: 16px;
}
#anim_canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 640px;
	height: 480px;
}
#cover1 {
	position: fixed;
	top: -240px;
	left: 0px;
	height: 50%;
	width: 100%;
	background-color: #000;
}
#cover2 {
	position: fixed;
	top: 0px;
	left: -320px;
	width: 50%;
	height: 100%;
	background-color: #000;
}
#cover3 {
	position: fixed;
	top: 0px;
	right: -320px;
	width: 50%;
	height: 100%;
	background-color: #000;
}
#cover4 {
	position: fixed;
	bottom: -240px;
	left: 0px;
	height: 50%;
	width: 100%;
	background-color: #000;
}

#backHome {
	position: absolute;
	top: 229px;
	left: 269px;
	width: 100px;
	height: 20px;

	border: none;
	color: #000000;
	background-color: transparent;

	margin: auto;
}

#backHomeText {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100px;
	height: 20px;
	line-height: 0px;
	text-align: left;
	font-weight: 700;
	border: none;
	background-color: #FFFFFF;

	animation-name: buttonFlashAnim;
	animation-duration: 100ms;
	animation-iteration-count: infinite;
}

#playText {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100px;
	height: 20px;
	line-height: 0px;
	text-align: left;
	font-weight: 700;
	border: none;
	background-color: #FFFFFF;
}