/* CSS Document */

.upscrolllll {
	position: fixed;
	right: 0px;
	width: 16px;
	height: 16px;
	border: none;
}

.upscrolllll:active {
	position: fixed;
	right: 0px;
	width: 16px;
	height: 16px;
	border: none;
}

.upscrolllll > div {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 16px;
	height: 16px;
	background-color: lightgrey;
	background-image: url('../ui/Scrollbars/stepper-up.png');
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border: none;
}

.upscrolllll:active > div {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 16px;
	height: 16px;
	background-color: lightgrey;
	background-image: url('../ui/Scrollbars/stepper-up-active.png');
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border: none;
}



.downscrolll {
	position: fixed;
	right: 0px;
	width: 16px;
	height: 16px;
	border: none;
}

.downscrolll:active {
	position: fixed;
	right: 0px;
	width: 16px;
	height: 16px;
	border: none;
}

.downscrolll > div {
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 16px;
	height: 16px;
	background-color: lightgrey;
	background-image: url('../ui/Scrollbars/stepper-down.png');
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border: none;
}

.downscrolll:active > div {
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 16px;
	height: 16px;
	background-color: lightgrey;
	background-image: url('../ui/Scrollbars/stepper-down-active.png');
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border: none;
}

#moocow_scroll {
	position: absolute;
	right: 0px;
	width: 16px;
	background-color: transparent;
	border-image-source: url('../ui/Scrollbars/slider-vertical.png');
	border-image-slice: 8 fill;
	border-image-width: 8px;
	border-image-repeat: stretch;
}

#moocow_scroll:active {
	position: absolute;
	right: 0px;
	width: 16px;

	background-color: transparent;
	border-image-source: url('../ui/Scrollbars/slider-vertical-prelight.png');
	border-image-slice: 8 fill;
	border-image-width: 8px;
	border-image-repeat: stretch;
}

#moocow_scroll > div {
	position: absolute;
	bottom: 0px;
	right: 0px;
	top: 0px;
	left: -2px;
	width: 16px;
	background-color: transparent;
	background-image: url('../ui/Scrollbars/v-overlay.png');
	background-position: center;
	background-repeat:no-repeat;
	background-size: 8px;
	border: none;
}

#moocow_scroll:active > div {
	position: absolute;
	bottom: -2px;
	right: 0px;
	top: -2px;
	left: -2px;
	width: 16px;
	background-color: transparent;
	background-image: url('../ui/Scrollbars/v-overlay.png');
	background-position: center;
	background-repeat:no-repeat;
	background-size: 8px;
	border-image-source: url('../ui/Scrollbars/slider-background-active.png');
	border-image-slice: 8 fill;
	border-image-width: 8px;
	border-image-repeat: stretch;
}

.scrollCover {
	position: absolute;
	right: 0px;
	width: 16px;
	border-image-source: url('../ui/Scrollbars/trough-scrollbar-vert.png');
	border-image-slice: 8 fill;
	border-image-width: 8px;
	border-image-repeat: stretch;
}
