/* CSS Document */

body {
	background-color: #AAA
}

@keyframes bounce-leftright {
	0% {
		perspective-origin: center;
   		transform-style: preserve-3d;
   		-moz-transform-style: preserve-3d;
    	-webkit-transform-style: preserve-3d;
    	transform: rotateY(0deg);
	}
	100% {
		perspective-origin: center;
   		transform-style: preserve-3d;
   		-moz-transform-style: preserve-3d;
    	-webkit-transform-style: preserve-3d;
    	transform: rotateY(22.5deg);
	}
}

@keyframes selFlash {
	0% {
		border-color: #00FFFF;
	}
	50% {
		border-color: #00FFFF;
	}
	51% {
		border-color: #0000FF;
	}
	100% {
		border-color: #0000FF;
	}
}

@font-face {
	font-family: EAS;
	src: url('font.ttf');
}

#lr {
/* 	transition: all 0.1s ease-in-out;
	animation-name: bounce-leftright;
	animation-duration: 0.1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out; */
}

#wrapMainCube {
    width: 100%;
    height: 100px;
    margin: none;
    background-color: transparent;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.clock {
	color: #FFF;
	font-family: 'EAS', 'Lucida Console', 'Courier New', monospace;
	position: relative;
	width: 100%;
}

.clocka {
	color: #FFF;
}

.clockb {
	color: #FFF;
}

.clockc {
	color: #FFF;
}

.selclock {
	font-family: 'EAS', 'Lucida Console', 'Courier New', monospace;
	position: relative;
	transition: all 0.1s ease-in-out;
}

#menuBlocker {
    width: 100%;
    height: 120px;
    margin: none;
    background-color: transparent;
}

#menuBlocker2 {
    width: 100%;
    height: 320px;
	top: -200px;
	left: 0px;
	position: absolute;
    margin: none;
    background-color: black;
}

#menuBottom {
	position: absolute;
	top: 100px;
	left: 0px;
	right: 0%;
    width: 100%;
    height: 20px;
    margin: 0px;
    background-color: #000;
    color: #FFF;
	text-align: center;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

#MainCube {
    width: 200px;
    height: 200px;
    top: 50px;
	perspective: 5000px;
	perspective-origin: center;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
	transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    margin: auto;
    position: relative;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.topMenuScrollButton {
	position: absolute;
	top: 0px;
	bottom: 0px;
}

.tmsb1 {
	left: 0px;
	width: 20%;
}

.tmsb2 {
	right: 0px;
	width: 20%;
}

.iconinvis {
    position: absolute;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 50px;
    height: 50px;
    float: left;
    overflow: hidden;
    opacity: 1;
	border: 5px solid blue;
	display: none;
}

.iconx {
    position: absolute;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 50px;
    height: 50px;
    float: left;
    overflow: hidden;
    opacity: 0.85;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.icon-4 {
	transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(200px);
	border: 4px solid #555555;
}

.icon-3 {
	transform: rotateY(-67.5deg) translateX(0px) translateY(0px) translateZ(200px);
	border: 4px solid #555555;
}

.icon-2 {
	transform: rotateY(-45deg) translateX(0px) translateY(0px) translateZ(200px);
	border: 4px solid #447777;
}

.icon-1 {
	transform: rotateY(-22.5deg) translateX(0px) translateY(0px) translateZ(200px);
	border: 4px solid #22bbbb;
}

.icon0 {
	transform: rotateY(0deg) translateX(0px) translateY(0px) translateZ(200px);
	border: 4px solid #00FFFF;
	animation-duration: 0.1s;
	animation-iteration-count: infinite;
}

.icon1 {
	transform: rotateY(22.5deg) translateX(0px) translateY(0px) translateZ(200px);
	border: 4px solid #22bbbb;
}

.icon2 {
	transform: rotateY(45deg) translateX(0px) translateY(0px) translateZ(200px);
	border: 4px solid #447777;
}

.icon3 {
	transform: rotateY(67.5deg) translateX(0px) translateY(0px) translateZ(200px);
	border: 4px solid #555555;
}

.icon4 {
	transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(200px);
	border: 4px solid #555555;
}