#topnavbar {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 20px;
	background-color: black;
	perspective: 300px;
	perspective-origin: 400px 50%;
}

.icon_indication {
	position: fixed;
	top: 0px;
	width: 20px;
	height: 20px;
	border: none;
}

#icon_indication_pressmode {
	right: 20px;
}

#icon_indication_repeatmode {
	right: 0px;
}

.standardkey {
	height: 20px;
	width: 75px;
}

.onehalfkey {
	height: 20px;
	width: 112px;
}

.doublekey {
	height: 20px;
	width: 150px;
}

.spacekey {
	height: 20px;
	width: 300px;
}

.keyboardbutton {
	position: absolute;
	top: 0px;
	left: 0px;

	width: 100%;
	text-align: left;
}

.keyboardsound {
	position: absolute;
	bottom: 0px;
	right: 0px;

	width: 100%;
	text-align: right;
}

.notificationText {
	position: fixed;
	top: -15px;
	left: 25px;
	font-size: 15px;
	font-weight: 900;

}

.notificationCountText {
	position: fixed;
	top: -10px;
	right: 10px;
	font-size: 10px;
	color: white;
	font-weight: 900;

	text-align: center;
	width: 16px;
	height: 16px;
	border-radius: 50%;

	background-image: linear-gradient(#FAA, #A00);
	border: 2px solid white;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes keypressanim {
	0% {
		transform: translate(0px, 0px);
	}
	25% {
		transform: translate(0px, 8px);
	}
	50% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

@keyframes keypressanimb {
	0% {
		transform: translate(0px, 0px);
		opacity: 0;
	}
	25% {
		transform: translate(0px, 32px);
		opacity: 0.5;
	}
	50% {
		transform: translate(0px, 32px);
		opacity: 0;
	}
	100% {
		transform: translate(0px, 0px);
		opacity: 0;
	}
}

@keyframes openAlertMessage {
	0% {
		background-image: linear-gradient(black 0%, black 10%, dimgrey 20%, dimgrey 30%, black 100%);
		background-position: 0% 20%;
		color: grey;
		transform: rotateX(90deg);
	}
	100% {
		background-image: linear-gradient(black 0%, black 10%, dimgrey 20%, dimgrey 30%, black 100%);
		background-position: 0% 0%;
		color: white;
		transform: rotateX(0deg);
	}
}

@keyframes closeAlertMessage {
	0% {
		background-image: linear-gradient(black 0%, black 10%, dimgrey 20%, dimgrey 30%, black 40%, black 50%, black 100%);
		background-position: 0% 60%;
		color: white;
		transform: rotateX(0deg);
	}
	50% {
		background-position: 0% 30%;
	}
	100% {
		background-image: linear-gradient(black 0%, black 10%, dimgrey 20%, dimgrey 30%, black 40%, black 50%, black 100%);
		background-position: 0% 100%;
		color: grey;
		transform: rotateX(-90deg);
	}
}

@keyframes openAlertToGreyMessage {
	0% {
		background-image: linear-gradient(black 0%, black 10%, darkgrey 20%, grey 30%, grey 80%, darkgrey 90%, black 100%);
		background-position: 0% 10%;
		color: grey;
		transform: rotateX(90deg);
	}
	100% {
		background-image: linear-gradient(black 0%, black 10%, darkgrey 20%, grey 30%, grey 80%, darkgrey 90%, black 100%);
		background-position: 0% 30%;
		color: white;
		transform: rotateX(0deg);
	}
}

@keyframes closeAlertFromGreyMessage {
	0% {
		background-image: linear-gradient(black 0%, black 10%, DimGrey 20%, grey 30%, grey 70%, DimGrey 80%, black 90%, black 100%);
		background-position: 0% 70%;
		color: white;
		transform: rotateX(0deg);
	}
	100% {
		background-image: linear-gradient(black 0%, black 10%, DimGrey 20%, grey 30%, grey 70%, DimGrey 80%, black 90%, black 100%);
		background-position: 0% 90%;
		color: grey;
		transform: rotateX(-90deg);
	}
}

@keyframes themeChangeIn {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(-90deg);
	}
}

@keyframes themeChangeOut {
	0% {
		transform: rotateY(90deg);
	}
	100% {
		transform: rotateY(0deg);
	}
}

#mainlocation {
	opacity: 1;
	animation-name: fadein;
	animation-duration: 500ms;
}

#mainlocation button {
	background-color: transparent;
	border: none;
	font-weight: 900;
}

#mainlocation td {
	position: relative;
	border: 1px solid black;
}

#mainlocation p {
	font-weight: 600;
}

.dstd {
	background-color: lightgrey;
	transition-property: all;
	transition-duration: 500ms;
	transition-timing-function: linear;
}

.dstd:active {
	background-color: #FF9090;
	transition-property: all;
	transition-duration: 0ms;
	transition-timing-function: linear;
}

.dstdx {
	background-color: darkgrey;
	transition-property: all;
	transition-duration: 500ms;
	transition-timing-function: linear;
}

.dstdx:active {
	background-color: #FF0000;
	transition-property: all;
	transition-duration: 0ms;
	transition-timing-function: linear;
}

.sbtd {
	background-color: white;
	transition-property: all;
	transition-duration: 500ms;
	transition-timing-function: linear;
}

.sbtd:active {
	background-color: lightblue;
	transition-property: all;
	transition-duration: 0ms;
	transition-timing-function: linear;
}

.sbtdx {
	background-color: black;
	transition-property: all;
	transition-duration: 500ms;
	transition-timing-function: linear;
}

.sbtdx:active {
	background-color: blue;
	transition-property: all;
	transition-duration: 0ms;
	transition-timing-function: linear;
}

.sbtds:active {
	background-color: lightyellow;
	transition-property: all;
	transition-duration: 0ms;
	transition-timing-function: linear;
}

.sbtdc:active {
	background-color: lightgreen;
	transition-property: all;
	transition-duration: 0ms;
	transition-timing-function: linear;
}

.sbtdsx:active {
	background-color: yellow;
	transition-property: all;
	transition-duration: 0ms;
	transition-timing-function: linear;
}

.sbtdcx:active {
	background-color: #0A0;
	transition-property: all;
	transition-duration: 0ms;
	transition-timing-function: linear;
}

#notification1 {
	width: 400px;
	height: 20px;
	position: fixed;
	z-index: 50;
	left: 200px;
	transform-style: preserve-3d;
	transform-origin: 50% 50% -10px;
}

#notification2 {
	width: 400px;
	height: 20px;
	position: fixed;
	z-index: 50;
	left: 200px;
	transform-style: preserve-3d;
	transform-origin: 50% 50% -10px;
}

.notificationAnim1 {
	background-size: 100% 1000%;
	color: white;
	animation-name: openAlertMessage;
	animation-duration: 500ms;
  	animation-timing-function: ease-in-out;
  	animation-iteration-count: 1;
}

.notificationAnim2 {
	background-size: 100% 1000%;
	color: white;
	animation-name: closeAlertMessage;
	animation-duration: 500ms;
  	animation-timing-function: ease-in-out;
  	animation-iteration-count: 1;
}

.notificationAnim3 {
	background-size: 100% 1000%;
	color: white;
	animation-name: openAlertToGreyMessage;
	animation-duration: 500ms;
  	animation-timing-function: ease-in-out;
  	animation-iteration-count: 1;
}

.notificationAnim4 {
	background-size: 100% 1000%;
	color: white;
	animation-name: closeAlertFromGreyMessage;
	animation-duration: 500ms;
  	animation-timing-function: ease-in-out;
  	animation-iteration-count: 1;
}

.notificationAnim0 {
	color: white;
}


.sbtdtra {
	animation-name: themeChangeIn;
	animation-duration: 100ms;
  	animation-timing-function: ease-in;
  	animation-iteration-count: 1;
	transform-style: preserve-3d;
}

.sbtdtrb {
	animation-name: themeChangeOut;
	animation-duration: 100ms;
  	animation-timing-function: ease-out;
  	animation-iteration-count: 1;
	transform-style: preserve-3d;
}

#identifiyPrompt {
	position: absolute;
	left: 0px;
	top: 20px;
	width: 100%;
	height: 400px;
	background-color: #000A;
	z-index: 128;
	opacity: 0;
}

#idPrmptAnimBox {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 250px;
	left: 0px;
}

#idPrmptAnimBox2 {
	margin: 0 auto;
	position: relative;
	width: 400px;
	bottom: 25px;
	height: 270px;
}

.kb {
	color: white;
	text-align: center;
	position: absolute;
	top: -80px;
	width: 100%;
	height: 50px;

	transition-property: opacity;
	transition-duration: 250ms;
	transition-timing-function: ease-in-out;
}

.kbhead {
	top: -150px;
}

#idPrmptAnimKey1 {
	width: 120px;
	height: 128px;
	position: absolute;
	margin: auto;
	top: 90px;
	left: 0px;
	z-index: 5;

	background-color: black;

	transition-property: border, border-radius;
	transition-duration: 250ms;
	transition-timing-function: ease-in-out;
}

#idPrmptAnimKey1Top {
	width: 116px;
	height: 116px;
	position: absolute;
	margin: auto;
	top: 0px;
	left: 0px;
	z-index: 8;

	background-color: black;
	border-bottom: 2px solid #666;
	border-top: 2px solid #666;

	transition-property: border, border-radius;
	transition-duration: 250ms;
	transition-timing-function: ease-in-out;
}

#idPrmptAnimKey3 {
	width: 120px;
	height: 128px;
	position: absolute;
	margin: auto;
	top: 90px;
	right: 0px;
	z-index: 5;

	background-color: black;

	transition-property: border, border-radius;
	transition-duration: 250ms;
	transition-timing-function: ease-in-out;
}

#idPrmptAnimKey3Top {
	width: 116px;
	height: 116px;
	position: absolute;
	margin: auto;
	top: 0px;
	right: 0px;
	z-index: 8;

	background-color: black;
	border-bottom: 2px solid #666;
	border-top: 2px solid #666;

	transition-property: border, border-radius;
	transition-duration: 250ms;
	transition-timing-function: ease-in-out;
}

.promptkey1 {
	border-right: 2px solid #666;
	border-left: 2px solid #000;
}
.promptkey2 {
	border-right: 2px solid #666;
	border-left: 2px solid #666;
}
.promptkey3 {
	border-right: 2px solid #000;
	border-left: 2px solid #666;
}

.promptkeyb1 {
	border-radius: 0px 10px 10px 0px;
}
.promptkeyb2 {
	border-radius: 10px 10px 10px 10px;
}
.promptkeyb3 {
	border-radius: 10px 0px 0px 10px;
}

#idPrmptAnimKey2 {
	width: 120px;
	height: 120px;
	position: absolute;
	margin: auto;
	top: 98px;
	left: 140px;
	z-index: 5;

	border-radius: 10px 10px 10px 10px;
	background-color: black;
}

#idPrmptAnimKey2B {
	width: 116px;
	height: 116px;
	position: absolute;
	margin: auto;
	top: 90px;
	left: 140px;
	z-index: 8;

	animation-name: keypressanim;
	animation-duration: 2s;
  	animation-timing-function: ease-in-out;
  	animation-iteration-count: infinite;

	border-radius: 10px 10px 10px 10px;
	background-color: black;
	border: 2px solid #666;
}

#idPrmptAnimKey2C {
	position: absolute;
	margin: auto;
	top: 70px;
	left: 140px;
	z-index: 10;

	width: 120px;
	height: 128px;
	animation-name: keypressanimb;
	animation-duration: 2s;
  	animation-timing-function: ease-in-out;
  	animation-iteration-count: infinite;

	background-size: 960px 128px;
	background-image: url(keypressanimmat.png);
	background-position: -480px top;
	background-repeat: no-repeat;
}

#idPrmptAnimKey2D {
	position: absolute;
	margin: auto;
	top: 120px;
	left: 140px;
	width: 100%;
	font-size: 60px;
	font-weight: 900;
	z-index: 15;
	color: white;
	text-align: center;

	width: 120px;
	height: 128px;
	animation-name: keypressanim;
	animation-duration: 2s;
  	animation-timing-function: ease-in-out;
  	animation-iteration-count: infinite;

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: ease-in-out;
}
