@keyframes c1a {
	from {
		transform: translate(320px, 140px) rotate(-120deg);
	}
	to {
		transform: translate(320px, 140px) rotate(-240deg);
	}
}
@keyframes c2a {
	from {
		transform: translate(320px, 140px) rotate(-120deg);
	}
	to {
		transform: translate(320px, 140px) rotate(-240deg);
	}
}
@keyframes c3a {
	from {
		transform: translate(407px, 190px) rotate(-60deg);
	}
	to {
		transform: translate(407px, 190px) rotate(-180deg);
	}
}
@keyframes c4a {
	from {
		transform: translate(407px, 290px) rotate(0deg);
	}
	to {
		transform: translate(407px, 290px) rotate(-120deg);
	}
}
@keyframes c5a {
	from {
		transform: translate(320px, 340px) rotate(60deg);
	}
	to {
		transform: translate(320px, 340px) rotate(-60deg);
	}
}
@keyframes c6a {
	from {
		transform: translate(233px, 290px) rotate(120deg);
	}
	to {
		transform: translate(233px, 290px) rotate(0deg);
	}
}




.c1 {
	animation-timing-function: linear;
	animation-name: c1a;
	animation-duration: 1.5s;
	animation-fill-mode: both;
}

.c2 {
	animation-timing-function: linear;
	animation-name: c2a;
	animation-duration: 1.5s;
	animation-fill-mode: both;
}

.c3 {
	animation-timing-function: linear;
	animation-name: c3a;
	animation-duration: 1.5s;
	animation-fill-mode: both;
}

.c4 {
	animation-timing-function: linear;
	animation-name: c4a;
	animation-duration: 1.5s;
	animation-fill-mode: both;
}

.c5 {
	animation-timing-function: linear;
	animation-name: c5a;
	animation-duration: 1.5s;
	animation-fill-mode: both;
}

.c6 {
	animation-timing-function: linear;
	animation-name: c6a;
	animation-duration: 1.5s;
	animation-fill-mode: both;
}